<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>{% block title %}TeamFlow{% endblock %}</title>
</head>

<body class="bg-[#f8f9ff]">
{% block content %}{% endblock %}

{% block script %}{% endblock %}
<script src="/static/js/main.js"></script>

</body>
</html>